<% if logged_in? %>
  <div id="new_comment_form_<%= pin.id %>" class="mb-6">
    <%= render "pins/comment_form", pin: pin %>
  </div>
<% end %>

<% pin.comments.where(parent_id: nil).order(created_at: :asc).each do |comment| %>
  <%= render "pins/comment", comment: comment %>
<% end %>
